body {
  margin: 0rem;
  min-height: 100vh;
  background: linear-gradient(to bottom, #6f059957 0%, #ffb7d591 30%, #ffb7d591 70%, #6f059957 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

  

header {
  display: flex;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  margin: 0rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(216, 174, 221);
  width: 100%;
  box-shadow: 4px 4px 8px #6f059957;
  z-index: 9999;
}


#headeritens {
  display: flex;
  justify-content: right;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  gap: 4rem;
  margin-right: 4rem;
}



@media (max-width: 768px) {
  #headeritens {
    font-size: 1.4vh;
    gap: 1.3rem;
    margin-left: 1rem;
    
    
  }
}

#nomerapha {
  color: black;
  margin-left: 8rem;
  
}

@media (max-width: 768px) {
  #nomerapha{
    font-size: 0.8rem;
    margin-left: 2rem;
    
  }
}

.headerclass {
  text-decoration: none;
  color: black;
  transition: transform 0.5s ease-in-out;

}

.headerclass:hover {
  transform: scale(1.13);
}

@media (max-wdith: 768px) {
  .headerclass {
    text-decoration: none;
    color: black;
  }
}

main {
  font-family: 'Quicksand', sans-serif;
}

#sobremim {
  display: flex;
  
  font-size: 2rem;
  margin-left: 20%;
  margin-top: 14%;
}

@media (max-width: 768px) {
  #sobremim {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 1.2rem;
  }
}

#p1 {
  display: flex;
  font-size: 1.2rem;
  margin-left: 20%;
  width: 30%;
  text-align: justify;
}

@media (max-width: 768px) {
  #p1 {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-left: 21%;
    width: 60%;
  }
}

#instaphoto {
  display: flex;
  flex-direction: row;
  scale: 0.37;
  margin-left: 40%;
  margin-top: -36%;
  box-shadow: 8px 8px 16px #6f059957;
  border-radius: 30%;
}

@media (max-width: 768px) {
  #instaphoto {
    display: flex;
    align-content: center;
    margin-left: -22.5rem;
    margin-top: -23rem;

    scale: 0.19;
    
  }
}


#projetos {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

@media (max-width: 768px) {
  #projetos {
    margin-top: -20rem;
    font-size: 1.4rem;
  }
}

#siraasdiv {
  display: flex;
  justify-content: center;
  scale: 0.5; 
}

@media (max-width: 768px) {
  #siraasdiv {
    scale: 0.2;
    margin-top: -10rem;
  }
}

#siraas {
  box-shadow: 8px 8px 16px #6f059957;
}

#projetosdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4%;
  box-shadow: 8px 8px 16px #6f059957;
  width: 40%;
  margin-left: 30%;
}

@media (max-width: 768px) {
  #projetosdiv {
    margin-top: -15%;
    width: 72%;
    margin-left: 15%;
  }
}


#nome {
  margin-right: 85%;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #nome {
    font-size: 1.1rem;
    margin-left: 10%;
  }
}

#nome_span {
  margin-right: 16%;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  #nome_span {
    font-size: 1rem;
    margin-left: 5%;
  }
}

#sobre {
  margin-right: 85%;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #sobre {
    font-size: 1.1rem;
    margin-left: 10%;
  }
}

#sobre_p {
  width: 89%;
  text-align: justify;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  #sobre_p {
    font-size: 1rem;
  }
}

#contribuicao {
  margin-right: 75%;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #contribuicao {
    font-size: 1.1rem;
    margin-left: 22%;
  }
}

#contribuicao_p {
  width: 90%;
  text-align: justify;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  #contribuicao_p {
    font-size: 1rem;
  }
}

#linkgit {
  margin-right: 50%;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #linkgit {
    font-size: 1.2rem;
    margin-left: 5%;
  }
}

#linkgit_a {
  margin-right: 84%;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  #linkgit_a {
    font-size: 1rem;
    margin-left: 10%;
  }
}

#skills {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 2rem;
}

@media (max-width: 768px) {
  #skills {
    font-size: 1.4rem;
  }
}

#hardskills {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  width: 16%;
  margin-left: 33.5%;
  padding-bottom: 1rem;
  box-shadow: 8px 8px 16px #6f059957;
  
}

@media (max-width: 768px) {
  #hardskills {
    width: 60%;
    margin-left: 20%;
  }
}

#softskills {
  display: flex;
  gap: 1rem;
  width: 16%;
  align-items: center;
  flex-direction: column;
  margin-left: 2%;
  box-shadow: 8px 8px 16px #6f059957;
}

@media (max-width: 768px) {
  #softskills {
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    padding-bottom: 3%;
  }
}

@media (max-width: 768px) {
  #resolucao {
    width: 75%;
  }
}

#rowdiv {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  #rowdiv {
    display: flex;
    flex-direction: column;
  }
}

#contato {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 10%;
}

@media (max-width: 768px) {
  #contato {
    font-size: 1.4rem;
  }
}

#contatodiv {
  display: flex;
  width: 20%;
  height: 80%;
  margin: auto;
  font-size: 1.2rem;
  align-items: center;
  flex-direction: column;
  box-shadow: 8px 8px 16px #6f059957;
}

#email {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  #email {
    font-size: 1rem;
  }
}

#icons {
  display: flex;
  justify-content: center;
  margin-top: -8%;
}

.icons {
  margin-top: 1.5rem;
  padding: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.icons:hover {
  transform: scale(1.15);
}

.icons img {
  width: 3rem;
  height: 3rem;
}

@media (max-width: 768px) {
  .icons img {
    width: 2rem;
    height: 2rem;
  }
}

#curriculo {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 10%;
}

@media (max-width: 768px) {
  #curriculo {
    font-size: 1.4rem;
  }
}

#curriculodiv {
  text-align: center;
  width: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 30%;
  box-shadow: 8px 8px 16px #6f059957;
}

@media (max-width: 768px) {
  #curriculodiv {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    font-size: 0.9rem;

  }
}

@media (max-width: 768px) {
  .textolista {
    margin-right: 1.27rem;
  }
}

ul {
  list-style-type: none;
}

#curriculobutton {
  text-decoration: none;
  color: black;
  background-color: #5500777e;
  box-shadow: 8px 8px 16px #6f059957;
  border-radius: 10px;
  padding: 1.5%;
}

@media (max-width: 768px) {
  #curriculobutton {
    font-size: 0.8rem;
    padding: 5.5px;
    
  }
}

#nomefooter {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 4rem;
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: center;
  width: 100%;
  background-color: rgb(216, 174, 221);
  box-shadow: 8px 8px 16px 8px #6f059957;
}

@media (max-width: 768px) {
  #nomefooter {
    font-size: 0.8rem;
  }
}