body {
  margin: 0rem;
  min-height: 100vh;
  background: linear-gradient(to bottom, #6f059957 0%, #ffb7d591 30%, #ffb7d591 70%, #6f059957 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

  

header {
  display: flex;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  margin: 0rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(216, 174, 221);
  width: 100%;
  box-shadow: 4px 4px 8px #6f059957;
  z-index: 9999;
}


#headeritens {
  display: flex;
  justify-content: right;
  font-size: 1.6rem;
  margin-top: 1.6rem;
  gap: 4rem;
  margin-right: 4rem;
}

@media (max-width: 768px) {
  #headeritens {
    font-size: 1.6vh;
    gap: 1.3rem;
    margin-left: 4rem;
    
    
  }
}

#nomerapha {
  color: black;
  margin-left: 8rem;
  
}

@media (max-width: 768px) {
  #nomerapha{
    font-size: 0.8rem;
    margin-left: 2rem;
    
  }
}

.headerclass {
  text-decoration: none;
  color: black;

}

@media (max-wdith: 768px) {
  .headerclass {
    text-decoration: none;
    color: black;
  }
}

#sobremim {
  display: flex;
  font-size: 2rem;
  margin-left: 20%;
  margin-top: 14%;
}

@media (max-width: 768px) {
  #sobremim {
    margin-top: 20%;
    margin-left: 10%;
    font-size: 1.2rem;
  }
}

#p1 {
  display: flex;
  font-size: 1.2rem;
  margin-left: 20%;
  width: 30%;
  text-align: justify;
}

@media (max-width: 768px) {
  #p1 {
    font-size: 0.8rem;
    margin-left: 10%;
    width: 60%;
  }
}